@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../font/Chunkfive-webfont.eot');
    src: url('../font/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Chunkfive-webfont.woff') format('woff'),
         url('../font/Chunkfive-webfont.ttf') format('truetype'),
         url('../font/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image:url('../img/bg.png');
    font-family: 'PT Sans Caption', sans-serif;
}

.logotype {
    font-size: 7em;
    line-height: 1.2em;
    font-family: 'ChunkFiveRegular';
}

.logotype:hover {
    text-decoration: none;
    color: #09c;
}

.blue {
    color: #08c;
}

.black {
    color: #333;
}

.logonext {
    padding-left: 10px;
    font-size: 1.5em;

}




.navbar-inverse .navbar-inner {
    background-image:url('../img/bg2.jpg');
    border-radius: 0px;
}

.cost {
    font-size: 24px;
}

.sitename {
    font-size: 24px;
}

.shadow {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.right_block {
    margin-bottom: 25px;
    padding: 20px;
    background: whiteSmoke;
}

.center {
    text-align:center;
    padding-top: 15px;
}

.attent {
    padding: 20px;
    margin-bottom: 25px;
    background: whiteSmoke;

}

.center i {
    text-shadow: 2px 2px 3px #222;
    font-size: 90px;
}

footer {

}

/*Colors*/

.orange {
    color: #f89406;
}

.blue {
    color: #049cdb;
}

.green {
    color: #46a546;
}

.red {
    color: #9d261d;
}

.yellow {
    color: #ffc40d;
}

.pink {
    color: #c3325f;
}

.purple {
    color: #7a43b6;
}
/**/

/* ico  */
.pencil_contact {
    padding-top: 50px;
    font-size: 100px;
    text-align: center;
}

/**/