.cost {
    font-size: 24px;
}

.sitename {
    font-size: 24px;
}

.margin_t {
    margin-top: 82px;
}

.carousel-control {
    left: -45px;
    color: #08c;
}

.carousel-control.right {
    right: -45px;
}
